In [1]:
import pandas as pd

file_path = "Coffee Shop Sales.xlsx"

df = pd.read_excel(file_path)

print(df.head())

print(df.columns)

print(df.shape)

   transaction_id transaction_date transaction_time  transaction_qty  \
0               1       2023-01-01         07:06:11                2
1               2       2023-01-01         07:08:56                2
2               3       2023-01-01         07:14:04                2
3               4       2023-01-01         07:20:24                1
4               5       2023-01-01         07:22:41                2

   store_id   store_location  product_id  unit_price    product_category  \
0         5  Lower Manhattan          32         3.0              Coffee
1         5  Lower Manhattan          57         3.1                 Tea
2         5  Lower Manhattan          59         4.5  Drinking Chocolate
3         5  Lower Manhattan          22         2.0              Coffee
4         5  Lower Manhattan          57         3.1                 Tea

            product_type               product_detail
0  Gourmet brewed coffee                  Ethiopia Rg
1        Brewed Chai tea     Spicy Eye Opener Chai Lg
2          Hot chocolate            Dark chocolate Lg
3            Drip coffee  Our Old Time Diner Blend Sm
4        Brewed Chai tea     Spicy Eye Opener Chai Lg
Index(['transaction_id', 'transaction_date', 'transaction_time',
       'transaction_qty', 'store_id', 'store_location', 'product_id',
       'unit_price', 'product_category', 'product_type', 'product_detail'],
      dtype='object')
(149116, 11)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_id    149116 non-null  int64
 1   transaction_date  149116 non-null  datetime64[ns]
 2   transaction_time  149116 non-null  object
 3   transaction_qty   149116 non-null  int64
 4   store_id          149116 non-null  int64
 5   store_location    149116 non-null  object
 6   product_id        149116 non-null  int64
 7   unit_price        149116 non-null  float64
 8   product_category  149116 non-null  object
 9   product_type      149116 non-null  object
 10  product_detail    149116 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(5)
memory usage: 12.5+ MB

In [3]:
df.isnull().sum()

transaction_id      0
transaction_date    0
transaction_time    0
transaction_qty     0
store_id            0
store_location      0
product_id          0
unit_price          0
product_category    0
product_type        0
product_detail      0
dtype: int64

In [4]:
df.describe()

,transaction_id,transaction_date,transaction_qty,store_id,product_id,unit_price
count,149116.000000,149116,149116.000000,149116.000000,149116.000000,149116.000000
mean,74737.371872,2023-04-15 11:50:32.173609984,1.438276,5.342063,47.918607,3.382219
min,1.000000,2023-01-01 00:00:00,1.000000,3.000000,1.000000,0.800000
25%,37335.750000,2023-03-06 00:00:00,1.000000,3.000000,33.000000,2.500000
50%,74727.500000,2023-04-24 00:00:00,1.000000,5.000000,47.000000,3.000000
75%,112094.250000,2023-05-30 00:00:00,2.000000,8.000000,60.000000,3.750000
max,149456.000000,2023-06-30 00:00:00,8.000000,8.000000,87.000000,45.000000
std,43153.600016,NaN,0.542509,2.074241,17.930020,2.658723

In [5]:
df.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

In [6]:
df['store_id'].value_counts()

store_id
8    50735
3    50599
5    47782
Name: count, dtype: int64

In [7]:
df['unit_price'].value_counts()

unit_price
3.00     33703
2.50     26346
3.75     18481
3.50     13728
0.80      6790
3.25      6060
4.25      5668
2.00      5647
2.20      5647
3.10      5545
4.50      4966
4.75      2961
4.00      2830
2.55      2705
2.45      2630
8.95       761
2.10       750
18.00      392
14.00      293
2.65       284
28.00      233
12.00      224
7.60       221
21.00      218
45.00      190
22.50      177
14.75      169
9.50       168
9.25       159
20.45      150
13.33      148
15.00      148
19.75      146
10.00      134
10.95      122
6.40       118
4.06        66
4.38        55
4.69        42
23.00       26
5.63        15
Name: count, dtype: int64

In [8]:
df['product_category'].value_counts()

product_category
Coffee                58416
Tea                   45449
Bakery                22796
Drinking Chocolate    11468
Flavours               6790
Coffee beans           1753
Loose Tea              1210
Branded                 747
Packaged Chocolate      487
Name: count, dtype: int64

In [9]:
df['store_location'].value_counts()

store_location
Hell's Kitchen     50735
Astoria            50599
Lower Manhattan    47782
Name: count, dtype: int64

In [10]:
df['transaction_qty'].value_counts()

transaction_qty
1    87159
2    58642
3     3279
4       23
8       10
6        3
Name: count, dtype: int64

In [11]:

df["year"] = df["transaction_date"].dt.year
df["month"] = df["transaction_date"].dt.month_name()
df["day"] = df["transaction_date"].dt.day_name()

In [13]:
df.head(50)

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail,year,month,day
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.00,Coffee,Gourmet brewed coffee,Ethiopia Rg,2023,January,Sunday
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,2023,January,Sunday
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.50,Drinking Chocolate,Hot chocolate,Dark chocolate Lg,2023,January,Sunday
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.00,Coffee,Drip coffee,Our Old Time Diner Blend Sm,2023,January,Sunday
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,2023,January,Sunday
5,6,2023-01-01,07:22:41,1,5,Lower Manhattan,77,3.00,Bakery,Scone,Oatmeal Scone,2023,January,Sunday
6,7,2023-01-01,07:25:49,1,5,Lower Manhattan,22,2.00,Coffee,Drip coffee,Our Old Time Diner Blend Sm,2023,January,Sunday
7,8,2023-01-01,07:33:34,2,5,Lower Manhattan,28,2.00,Coffee,Gourmet brewed coffee,Columbian Medium Roast Sm,2023,January,Sunday
8,9,2023-01-01,07:39:13,1,5,Lower Manhattan,39,4.25,Coffee,Barista Espresso,Latte Rg,2023,January,Sunday
9,10,2023-01-01,07:39:34,2,5,Lower Manhattan,58,3.50,Drinking Chocolate,Hot chocolate,Dark chocolate Rg,2023,January,Sunday
10,11,2023-01-01,07:43:05,1,5,Lower Manhattan,56,2.55,Tea,Brewed Chai tea,Spicy Eye Opener Chai Rg,2023,January,Sunday
11,12,2023-01-01,07:44:35,2,5,Lower Manhattan,33,3.50,Coffee,Gourmet brewed coffee,Ethiopia Lg,2023,January,Sunday
12,13,2023-01-01,07:45:51,1,5,Lower Manhattan,51,3.00,Tea,Brewed Black tea,Earl Grey Lg,2023,January,Sunday
13,14,2023-01-01,07:48:19,1,5,Lower Manhattan,57,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,2023,January,Sunday
14,15,2023-01-01,07:52:36,2,5,Lower Manhattan,87,3.00,Coffee,Barista Espresso,Ouro Brasileiro shot,2023,January,Sunday
15,16,2023-01-01,07:59:58,2,5,Lower Manhattan,47,3.00,Tea,Brewed Green tea,Serenity Green Tea Lg,2023,January,Sunday
16,17,2023-01-01,07:59:58,1,5,Lower Manhattan,79,3.75,Bakery,Scone,Jumbo Savory Scone,2023,January,Sunday
17,18,2023-01-01,08:00:18,1,8,Hell's Kitchen,42,2.50,Tea,Brewed herbal tea,Lemon Grass Rg,2023,January,Sunday
18,19,2023-01-01,08:00:39,2,8,Hell's Kitchen,59,4.50,Drinking Chocolate,Hot chocolate,Dark chocolate Lg,2023,January,Sunday
19,20,2023-01-01,08:11:45,1,8,Hell's Kitchen,61,4.75,Drinking Chocolate,Hot chocolate,Sustainably Grown Organic Lg,2023,January,Sunday
20,21,2023-01-01,08:17:27,2,8,Hell's Kitchen,33,3.50,Coffee,Gourmet brewed coffee,Ethiopia Lg,2023,January,Sunday
21,22,2023-01-01,08:24:26,2,5,Lower Manhattan,56,2.55,Tea,Brewed Chai tea,Spicy Eye Opener Chai Rg,2023,January,Sunday
22,23,2023-01-01,08:24:26,1,5,Lower Manhattan,69,3.25,Bakery,Biscotti,Hazelnut Biscotti,2023,January,Sunday
23,24,2023-01-01,08:29:38,1,8,Hell's Kitchen,56,2.55,Tea,Brewed Chai tea,Spicy Eye Opener Chai Rg,2023,January,Sunday
24,25,2023-01-01,08:31:23,1,8,Hell's Kitchen,40,3.75,Coffee,Barista Espresso,Cappuccino,2023,January,Sunday
25,26,2023-01-01,08:33:08,1,5,Lower Manhattan,43,3.00,Tea,Brewed herbal tea,Lemon Grass Lg,2023,January,Sunday
26,27,2023-01-01,08:33:08,1,5,Lower Manhattan,76,3.50,Bakery,Biscotti,Chocolate Chip Biscotti,2023,January,Sunday
27,28,2023-01-01,08:35:03,2,5,Lower Manhattan,45,3.00,Tea,Brewed herbal tea,Peppermint Lg,2023,January,Sunday
28,29,2023-01-01,08:35:03,1,5,Lower Manhattan,71,3.75,Bakery,Pastry,Chocolate Croissant,2023,January,Sunday
29,30,2023-01-01,08:41:57,2,8,Hell's Kitchen,40,3.75,Coffee,Barista Espresso,Cappuccino,2023,January,Sunday
30,31,2023-01-01,08:52:03,1,8,Hell's Kitchen,38,3.75,Coffee,Barista Espresso,Latte,2023,January,Sunday
31,32,2023-01-01,08:52:32,1,5,Lower Manhattan,26,3.00,Coffee,Organic brewed coffee,Brazilian Rg,2023,January,Sunday
32,33,2023-01-01,08:54:33,2,5,Lower Manhattan,27,3.50,Coffee,Organic brewed coffee,Brazilian Lg,2023,January,Sunday
33,34,2023-01-01,08:56:27,2,5,Lower Manhattan,29,2.50,Coffee,Gourmet brewed coffee,Columbian Medium Roast Rg,2023,January,Sunday
34,35,2023-01-01,08:57:46,1,8,Hell's Kitchen,54,2.50,Tea,Brewed Chai tea,Morning Sunrise Chai Rg,2023,January,Sunday
35,36,2023-01-01,08:58:55,1,5,Lower Manhattan,26,3.00,Coffee,Organic brewed coffee,Brazilian Rg,2023,January,Sunday
36,37,2023-01-01,09:00:12,1,5,Lower Manhattan,55,4.00,Tea,Brewed Chai tea,Morning Sunrise Chai Lg,2023,January,Sunday
37,38,2023-01-01,09:00:24,2,8,Hell's Kitchen,40,3.75,Coffee,Barista Espresso,Cappuccino,2023,January,Sunday
38,39,2023-01-01,09:07:13,1,8,Hell's Kitchen,45,3.00,Tea,Brewed herbal tea,Peppermint Lg,2023,January,Sunday
39,40,2023-01-01,09:08:09,2,8,Hell's Kitchen,45,3.00,Tea,Brewed herbal tea,Peppermint Lg,2023,January,Sunday
40,41,2023-01-01,09:08:13,1,8,Hell's Kitchen,24,3.00,Coffee,Drip coffee,Our Old Time Diner Blend Lg,2023,January,Sunday
41,42,2023-01-01,09:10:30,2,5,Lower Manhattan,60,3.75,Drinking Chocolate,Hot chocolate,Sustainably Grown Organic Rg,2023,January,Sunday
42,43,2023-01-01,09:10:30,1,5,Lower Manhattan,78,4.50,Bakery,Scone,Scottish Cream Scone,2023,January,Sunday
43,44,2023-01-01,09:11:06,1,5,Lower Manhattan,56,2.55,Tea,Brewed Chai tea,Spicy Eye Opener Chai Rg,2023,January,Sunday
44,45,2023-01-01,09:11:06,1,5,Lower Manhattan,77,3.00,Bakery,Scone,Oatmeal Scone,2023,January,Sunday
45,46,2023-01-01,09:13:01,1,5,Lower Manhattan,44,2.50,Tea,Brewed herbal tea,Peppermint Rg,2023,January,Sunday
46,47,2023-01-01,09:13:15,2,5,Lower Manhattan,56,2.55,Tea,Brewed Chai tea,Spicy Eye Opener Chai Rg,2023,January,Sunday
47,48,2023-01-01,09:14:16,1,5,Lower Manhattan,48,2.50,Tea,Brewed Black tea,English Breakfast Rg,2023,January,Sunday
48,49,2023-01-01,09:14:17,1,8,Hell's Kitchen,23,2.50,Coffee,Drip coffee,Our Old Time Diner Blend Rg,2023,January,Sunday
49,50,2023-01-01,09:14:25,1,8,Hell's Kitchen,46,2.50,Tea,Brewed Green tea,Serenity Green Tea Rg,2023,January,Sunday

In [14]:
df.drop(columns = ["transaction_id", "store_id", "product_id"], inplace = True)

In [15]:
transactions_per_month = df['month'].value_counts()
transactions_per_month

month
June        35352
May         33527
April       25335
March       21229
January     17314
February    16359
Name: count, dtype: int64

In [16]:
df.head()

,transaction_date,transaction_time,transaction_qty,store_location,unit_price,product_category,product_type,product_detail,year,month,day
0,2023-01-01,07:06:11,2,Lower Manhattan,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg,2023,January,Sunday
1,2023-01-01,07:08:56,2,Lower Manhattan,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,2023,January,Sunday
2,2023-01-01,07:14:04,2,Lower Manhattan,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg,2023,January,Sunday
3,2023-01-01,07:20:24,1,Lower Manhattan,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm,2023,January,Sunday
4,2023-01-01,07:22:41,2,Lower Manhattan,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,2023,January,Sunday

In [17]:
!pip install mysql-connector-python sqlalchemy pymysql

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Requirement already satisfied: sqlalchemy in c:\users\classic\anaconda3\lib\site-packages (2.0.39)
Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\classic\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\classic\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   --- ------------------------------------ 1.3/16.5 MB 8.0 MB/s eta 0:00:02
   ------ --------------------------------- 2.9/16.5 MB 6.8 MB/s eta 0:00:03
   ----------- ---------------------------- 4.7/16.5 MB 7.5 MB/s eta 0:00:02
   ----------------- ---------------------- 7.1/16.5 MB 8.6 MB/s eta 0:00:02
   ---------------------- ----------------- 9.2/16.5 MB 8.9 MB/s eta 0:00:01
   --------------------------- ------------ 11.5/16.5 MB 9.2 MB/s eta 0:00:01
   --------------------------------- ------ 13.9/16.5 MB 9.4 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.5 MB 9.3 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 9.2 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 8.5 MB/s eta 0:00:00
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql, mysql-connector-python

   ---------------------------------------- 0/2 [pymysql]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   ---------------------------------------- 2/2 [mysql-connector-python]

Successfully installed mysql-connector-python-9.5.0 pymysql-1.1.2

In [23]:
import pymysql

conn = pymysql.connect(
    host="localhost",
    user="root",
    password="keshav@123"
)

cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS starbucks_db")

conn.commit()
conn.close()

print(" Database created successfully!")

 Database created successfully!

In [24]:
import pymysql

conn = pymysql.connect(
    host="localhost",
    user="root",
    password="keshav@123",
    database="starbucks_db"
)

print(" MySQL connection successful!")
conn.close()

 MySQL connection successful!

In [25]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

username = "root"
password = quote_plus("keshav@123")  # encode special character
host = "localhost"
port = "3306"
database = "starbucks_db"

engine = create_engine(
    f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
)

# Push DataFrame to MySQL (this CREATES the table)
df.to_sql(
    name="starbucks_sales",   # table name
    con=engine,
    if_exists="replace",      # creates or replaces table
    index=False
)

print(" Table 'starbucks_sales' created and data inserted!")

 Table 'starbucks_sales' created and data inserted!

In [27]:
df.head()

,transaction_date,transaction_time,transaction_qty,store_location,unit_price,product_category,product_type,product_detail,year,month,day
0,2023-01-01,07:06:11,2,Lower Manhattan,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg,2023,January,Sunday
1,2023-01-01,07:08:56,2,Lower Manhattan,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,2023,January,Sunday
2,2023-01-01,07:14:04,2,Lower Manhattan,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg,2023,January,Sunday
3,2023-01-01,07:20:24,1,Lower Manhattan,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm,2023,January,Sunday
4,2023-01-01,07:22:41,2,Lower Manhattan,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,2023,January,Sunday

In [28]:
import pandas as pd

# Convert date
df['transaction_date'] = pd.to_datetime(df['transaction_date'], errors='coerce')

# Extract hour safely from time
df['hour'] = df['transaction_time'].apply(lambda x: x.hour)

# Revenue column
df['revenue'] = df['transaction_qty'] * df['unit_price']

# Day name & Month
df['day_name'] = df['transaction_date'].dt.day_name()
df['month'] = df['transaction_date'].dt.month_name()

# Clean column names
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Drop missing values
df = df.dropna()

In [ ]:
df.to_excel(
    "coffee_sales_preprocessed.xlsx",
    index=False,
    engine="openpyxl"
)

print(" File saved successfully!")